<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebDev-Form</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css" />
  </head>

  <body>
    <main>
      <h1>WebDev-Form</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nemo consequuntur at aperiam illo repellendus obcaecati qui, dicta numquam corporis et sapiente quibusdam? Totam autem ut id vel beatae sunt?</p>
      <section>
        <h2>Cliente Cadastrado com Sucesso</h2>
        <ul>
          <li>
            Nome Completo:<strong>{{ user.name }}</strong>
          </li>
          <li>
            E-mail:<strong>{{ user.email }}</strong>
          </li>
          <li>
            Data de Nascimento:<strong>{{ user.birthday }}</strong>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>